<div class="container" style="margin: 100px;">
  <div class="row">
    <div class="col-md-6">
      <img src="{{product.image}}" alt="{{name}}" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h1>{{product.name}}</h1>
      <p><strong>Price:</strong> ${{product.price}}</p>
    </div>
  </div>
</div>